<%- include('header') -%>

<div class="box about-info">
    <h2>A Simple Todo List App built with Node.js and MongoDB</h2>
    <p>Packages used: Express, EJS, Body-parser, Mongoose, Lodash.</p>
    <a href="/"><button>&#128281</button></a>

</div>


<%- include('footer') -%>