<%- include('header') -%>

<div class="about-info">
    <h2>A Simple Todo List App built with Node.js.</h2>
    <p>Packages: Express, Body-parser and EJS.</p>
    <form action="/"><button>&#128281</button></form>

</div>


<%- include('footer') -%>